!!!
%html
  %head
    %title financer
  %body
    .header
      %h1 Welcome to financer
    .signin
    %div.footer
      %ul
        %li
          %a{:href => "/"} Home
        %li
          %a{ :href =>"/about"} About us

