- provide(:title, "New Bank")
.row
  .col-sm-9.content-area
    %h3 Add a bank account
    = render "form"
    .back_button
      = link_to 'Cancel', user_path(current_user), class: 'btn btn-default btn-md'
  .col-sm-3.sidebar
    = render 'shared/sidebar'
