%h1.title
  = @user.name
%p Welcome to your financer profile. Please feel free to modify your personal details.
%ul.users
  %li
    = @user.email

%a{:href => "#{@user.id}/edit"} Edit my personal details


