- provide(:title, "Edit #{@envelope.category}")
.row
  .col-sm-9.content-area
    %h3 Edit Envelope
    = render "form"
    .back_button
      = link_to 'Cancel', dashboard_path, class: 'btn btn-default btn-med'
  .col-sm-3.sidebar
    = render 'shared/sidebar'
