- provide(:title, "New Envelope")
.row
  .col-sm-9.content-area
    %h3 New Envelope
    = render "form"
    .back_button
      = link_to 'Cancel', dashboard_path, class: 'btn btn-default btn-md'
  .col-sm-3.sidebar
    = render 'shared/sidebar'
