.red {
  color: #FF2723;
}

.green {
  color: #53BD63;
}

.pad-l-10 {
  padding-left: 10px;
}

.pad-r-10 {
  padding-right: 10px;
}

.pad-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pad-lr-20 {
  padding-left: 15px;
  padding-right: 15px;
}

.pad-t-10 {
  padding-top: 10px;
}

.pad-b-10 {
  padding-bottom: 10px;
}

.pad-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mar-b-30 {
  margin-bottom: 30px;
}

.under10 {
  margin-bottom: 10px;
}

.under20 {
  margin-bottom: 20px;
}

.over10 {
  margin-top: 10px;
}

.over20 {
  margin-top: 20px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
