- provide(:title, "New Transaction")
.row
  .col-sm-9.content-area
    %h3 New Transaction for Envelope: #{@envelope.category}
    %p Total #{number_to_currency(@envelope.transactions.sum('amount'))}
    = render 'form'
  .col-sm-3.sidebar
    = render 'shared/sidebar'
